/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url(./css/theme.css);


body {
	margin: 0px;
}

.container {
	display: grid;
	height: 100vh;
	
}


#side-bar {
	grid-area: side-bar;
}
#data {
	grid-area: date;
}
#weekly {
	grid-area: weekly;
}
#also-today {
	grid-area: also-today;
	margin-bottom: 10px;
}
#work-log {
	grid-area: work-log;
	margin-bottom: 10px;
}
#space {
	grid-area: right-space;
}

@media (min-width: 0px) {
	.container {
		column-gap: 0rem;
		grid-template-columns: 60px 5fr 4fr 20px;
		grid-template-rows: 1fr 5fr 5fr 5fr;
		grid-template-areas:
			'side-bar date date right-space'
			'weekly weekly weekly right-space'
			'also-today also-today also-today right-space'
			'work-log work-log work-log right-space';
	}
	#weekly {
		margin-left: 20px;
		
	}
	#also-today {
		margin-left: 20px;
		
	}
	#work-log {
		margin-left: 20px;
		
	}
}
@media (min-width: 600px) {
	.container {
		column-gap: 2rem;
		grid-template-columns: 85px 5fr 2fr 2px;
		grid-template-rows: 1fr 5fr 5fr 5fr;
		grid-template-areas:
			'side-bar date date right-space'
			'side-bar weekly weekly right-space'
			'side-bar also-today also-today right-space'
			'side-bar work-log work-log right-space';
	}
}
@media (min-width: 1070px) {
	.container {
		column-gap: 3rem;
		grid-template-columns: 85px 5fr 4fr 0px;
		grid-template-rows: 0.6fr 4fr 4fr;
		grid-template-areas:
			'side-bar date date right-space'
			'side-bar weekly weekly right-space'
			'side-bar also-today work-log right-space';
	}
}
@media (min-width: 1240px) {
	.container {
		column-gap: 3rem;
		grid-template-columns: 85px 5fr 4fr 0.5fr;
		grid-template-rows: 0.8fr 5fr 5fr;
		grid-template-areas:
			'side-bar date date right-space'
			'side-bar weekly weekly right-space'
			'side-bar also-today work-log right-space';
	}
}
@media (min-width: 1440px) {
	.container {
		column-gap: 3rem;
		grid-template-columns: 1.4fr 5fr 4fr 0.3fr;
		grid-template-rows: 0.8fr 5fr 5fr;
		grid-template-areas:
			'side-bar date date right-space'
			'side-bar weekly weekly right-space'
			'side-bar also-today work-log right-space';
	}
}